@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Montserrat', sans-serif;
    }
}
*{
  -webkit-tap-highlight-color: transparent;
}
.container{
    @apply  max-w-[69.375rem];
    /*  @apply   2xl:max-w-[85rem]; */
}

.text-light{
  @apply text-primary/40
}

/* this class for UI Base inputs */
.input-container{
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}

/* fade in animation */
.fade-in{
  animation-name: fade-in;
  animation-duration:0.2s ;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
      opacity:  0 ;
  }
  100%{
      opacity: 1;
  }
}



@keyframes bounceInRight {
  from {
    transform: translateX(100%);
    opacity:  0 ;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from {
    transform: translateX(-100%);
    opacity:  0 ;
  }
  to {
    transform: translateX(0);
    opacity:  1 ;
  }
}

.left-animate {
  animation: bounceInRight 1s forwards;
}

.right-animate {
  animation: bounceInLeft 1s forwards;
}


@layer utilities {
  @keyframes bulletLine {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-bullet-line {
    animation-name: bulletLine;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: calc(0.2s * var(--tw-animation-delay));
  }
}